@model List<BLL.Models.ViewModels.PointVM>

@{
    if(Model.Any())
    {
        foreach (var point in Model)
        {
            <div>
                @point.Color
            </div>
            foreach (var comment in point.Comments)
            {
                <partial name="../Comment/Partials/_Comment" model="comment"/>
            }
        }
    }
    else
    { 
        <h1 class="text-center">Точки отсутствуют</h1>
    }
}